/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}





/*------------------------------------*\
    $MAIN
\*------------------------------------*/

html, document{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body{
	width: 100%;
	height: 100%;
	background-color: #fffcf0;
	background-image: url("/img/stripeypaper.png");
	background-repeat: repeat;
	background-size: 50px 50px;
	font-family: 'Work Sans', sans-serif;
}

.header{
	position: fixed;
	top: -20px;
	left: 0px;
	z-index: 1000;
	height: 200px;
	width: 100%;
	background-image: url("/img/menuclouds.png");
	background-position: left-top;
	background-repeat: repeat-x;
	background-size: auto 100px;
	background-color: white;
}

#userstatus{
	position: relative;
	font-family: 'Work Sans', sans-serif;
	font-size: 10pt;
	z-index: 10;
	top: 130px;
	width: 200px;
}

#login{
	cursor: pointer;
}

#register{
	cursor: pointer;
}

#logo{
	z-index: 10;
	position: relative;
	top: 20px;
	left: 300px;
	animation: cloudfloat 4000ms infinite;
}

@keyframes cloudfloat {
  0% { top: 15px; }
  40% { top: 22px; }
  60% { top: 22px; }
  100% { top: 15px; }
}

#menubar{
	font-family: 'Work Sans', sans-serif;
	position: relative;
	top: 150px;
	width: 100%;
	height: 30px;
	background-color: #ffcc00;
	border-bottom: 5px 'white';
}

.menulink{
	position: relative;
	height: 30px;
	top: 6px;
	padding: 5px;
	left: 500px;
	margin-left: 20px;
	margin-right: 20px;
	cursor: pointer;
}

.menulink.youarehere{
	font-weight: bold;
	cursor: default;
	border-bottom: 2px solid;
}

.content{
	position: relative;
	width: 900px;
	min-height: 600px;
	background-color: white;
	left: 50%;
	margin-left: -450px;
	padding-top: 200px;
	padding-bottom: 40px;
}

.headingA{
	font-family: 'Fredoka One', cursive;
	font-size: 16pt; 
	margin-top: 20px;
	text-align: center;
	background-color: #ffcc00;
}

#accountBtn{
	font-size: 8pt;
	cursor: pointer;
}

#logoutBtn{
	font-size: 8pt;	
	cursor: pointer;
}

#forgotLink{
	cursor: pointer;
}

#userModal{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	position: fixed;
	z-index: 100;
	height: 200px;
	width: 250px;
	top: 200px;
	left: 50%;
	margin-left: -150px;
	border: 2px solid #ffcc00;
	background-color: white;
}

#overlay.blur{
    -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
    filter: blur(4px);	
	pointer-events: none;
}

.footer{
	height: 120px;
	width: 100%;
}

.footbar{
	height: 30px;
	background-color: rgba(0,0,0,0.4);
	width: 100%;
}

.footbarMenu{
	display: flex;
	height: 30px;
	width: 900px;
	left: 50%;
	margin-left: -450px;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	position: relative;
}

.infoLink{
	margin: 25px;
	line-height: 40px;
	color: black;
	font-size: 14pt;
}

#infoList{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.articletitle{
	
	font-family: 'Work Sans', sans-serif;
	position: relative; 
	top: 40px;
	font-size: 18pt;
	width: 100%;
	text-align: center;
	
}

.articledate{
	
	font-family: 'Work Sans', sans-serif;
	position: relative; 
	font-size: 8pt;
	top: 45px;	
	width: 100%;
	text-align: center;
	
}

.articlebody{
	
	font-family: 'Work Sans', sans-serif;
	position: relative; 
	font-size: 12pt;
	width: 100%;
	top: 80px;
	width: 700px;
	left: 50%;
	margin-left: -350px;
	
}

#quote{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#bomfile{
	margin-left: 50px;	
	margin-top: 10px;
	margin-right: 50px;	
	margin-bottom: 10px;
}

#quoteupload{
	border-radius: 10px;
	background-color: #f8f8f8;
}

.bomLine{
	display: flex;
	position: relative;
	flex-direction: row;
	align-items: center;	
	height: 20px;
	width: 100%;
	font-size: 10pt;
}

.column1{
	position: absolute;
	left: 10%;
}

.column2{
	position: absolute;
	left: 20%;
}

.column3{
	position: absolute;
	left: 50%;
}

.column4{
	position: absolute;
	left: 80%;
}

#smtplacements{
	font-weight: bold;
}

#pthplacements{
	font-weight: bold;
}

#dnpplacements{
	font-weight: bold;
}

#fiducials{
	font-weight: bold;
}

.disactivated{
	pointer-events: none;
	opacity: 0.5;
}

#calculateBtn{
	font-size: 12pt; 
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	text-align: center;
	background-color: #ffcc00;
	border: 1px solid black; 
	cursor: pointer;
}

.quotetip{
	font-family: 'Work Sans', sans-serif;
	font-size: 8pt;
}

.postblock{
	
	position: relative;
	width: 400px;
	height: 70px;
	background-color: #f8f8f8;
	margin: 5px;
	
}

.postblock-image{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 60px;
		height: 60px;
		margin: 5px;
}

.postblock-title{
	position: absolute;
	left: 70px;
	top: 5px;
	font-weight: bold;
}

.postblock-date{
	position: absolute;
	bottom: 5px;
	left: 70px;
	font-size: 6pt;
}

.postblock-preview{
	position: absolute;
	left: 70px;
	top: 25px;
	font-size: 8pt;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: #555;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: #ffcc00;
}